.footer{
    color: #FFFFFF;
    padding: 40px 20px; 
    background-color: #162F4B;
    font-family: 'Lexend';
  }

.footertittle{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
.logoimg{
    width: 60px;
    height:60px;
    margin-top: -13px;
}
.foothead{
    font-family: 'Michroma', sans-serif;
}
.thickline{
    display: flex;
    flex-direction: row;
}
@media (max-width:576px){
  .thickline{
    width: 80vw !important;
  }
  .News{
    margin-top: 20px;
  }
  .logoimg{
    width: 30px;
    height:30px;
    margin-top: -6px;
}
.foothead{
  font-size: 15px;
}
}
@media (max-width:768px){
  .FootMail{
    font-size: 14.5px;
  }

}