.serviceTechCardsTitle{
    clip-path:polygon(80% 0%, 77% 50%, 80% 100%, 0 99%, 0% 50%, 0 0);
    background-color: #162F4B;
}
@media (max-width:568px){
    .serviceTechImg{
        width: 80%;
        justify-items: center !important;
        align-items: center !important;
        margin-left: 2rem !important;
    }
    .serviceTechCardsTitle{
        clip-path:polygon(100% 0%, 95% 50%, 100% 100%, 0 99%, 0% 50%, 0 0);
        font-size: 15.5px !important;
    }
    .serviceTechCardsText{
        text-align: start !important;
        padding-left: 2px !important;
        font-size: 13.5px !important;
    }
}
@media (max-width:767px) and (min-width:567px){
  
    .serviceTechImg{
        width: 70% !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 6rem !important;
        margin-left: 4rem !important;
    }
}